/**
 * Licensed to EsupPortail under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for
 * additional information regarding copyright ownership.
 *
 * EsupPortail licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except in
 * compliance with the License. You may obtain a copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 
 .esupkoha h4 
{
margin-left: 1%;
}
 
.esupkoha dt 
{
float: left;
margin-right: 5px;
margin-left: 2%;
color: #444;
}

.esupkoha dt:first-letter {
text-transform: capitalize;
}

.esupkoha dd {
font-weight: bold;
}

.esupkoha .important {
color: #800;
font-weight: bold;
}

.esupkoha h3{
    font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",sans-serif;
    letter-spacing: 0.1em;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    color: #666666;
    border-bottom: 1px solid #e9e9e9;
    padding-top: 2px;
    min-height: 16px;
    margin-bottom: 0px;
    clear: both;
}
.esupkoha h4{
    clear: both;
    margin: 0;
    margin-left: 0;
    padding: 0.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    color: #4681b2;
}
.esupkoha h4 a{
    font-weight: bold;
    text-decoration: none;
}
.esupkoha dl{
    display: block;
    margin: 0;
    padding: 0.1em;
}
.esupkoha dt{
    font-weight: bold;
}
.esupkoha dt:after{
    content: " :";
}
.esupkoha dd{
}
.esupkoha p{
    margin: 0;
}
.esupkoha .portlet-section-body{
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    clear: both;
}
.esupkoha .ouvrage{
    background: #efefef;
    border: 1px solid #aaaaaa;
    border-radius: 1em;
    margin: 1%;
    padding: 0.5em;
    margin-top: 1em;
    min-height: 50px;
    overflow: hidden;
}
.esupkoha .overdue{
    background: #ffcccc;
    border-color: #cc0000;
}
.esupkoha .overdue dd.date_due{
    font-weight: bold;
    color: #cc0000;
}
.esupkoha .available{
    background: #ccffcc;
    border-color: #00cc00;
}
.esupkoha .available dl{
}
.esupkoha .important{
    display: block;
    font-weight: bold;
    text-align: center;
    color: #cc0000;
}
.esupkoha .action{
    text-align: center;
}
.esupkoha .directAccess{
    clear: both;
    padding-top: 1em;
}
